body {
    background: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .question {
    max-width: 600px;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .panel-container {
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .panel-inside {
    position: absolute;
  }
  
  .answer {
    padding: 10px;
    border: 1px dashed black;
    border-radius: 4px;
    user-select: none;
  }
  
  .panel {
    position: absolute;
    height: 100%;
    width: 50%;
    transition: all 0.3s ease;
  }
  
  .left-panel {
    left: 0;
    background-color: hsl(204, 70%, 53%);
  }
  
  .right-panel {
    right: 0;
    background-color: hsl(6, 78%, 57%);
  }
  
  button {
    background-color: hsl(210, 29%, 24%);
    color: white;
    border: none;
    padding: 5px 15px;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    transition: 
      background-color 0.3s ease, 
      color 0.3s ease;
    
    &:hover {
      background-color: hsl(210, 29%, 45%);
      color: hsl(48, 89%, 50%);
    }
  }