body {
    height: 200vh;
    position: relative;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
}

h1 {
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 50px;
}